.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Notification {
  margin-top: 30px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #f9f3ee;
  color: #2c1810;
  border: solid 2px #d9a963;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.Notification.Error {
  background-color: rgba(255, 0, 15, 0.24);
  border-color: #d70000;
}

.Form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 34px hsla(20, 100%, 30%, 0.1);
}

.Form {
  background-color: #f9f3ee;
  width: 30%;
  margin: auto;
  padding: 50px;
  align-items: center;
  margin-block: 50px;
}
.Form,
.Form label {
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.Form input[type='file'] {
  display: none;
}

.Form img {
  width: 83px;
  height: 83px;
  object-fit: cover;
  object-position: center;
}
.Form label {
  width: 100%;
}
.Form label p {
  margin-bottom: 15px;
}

.Form input {
  height: 64px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  border-radius: 3px;
  border: 2px solid #F2E3CE;
  padding-left: 10px;
}
.Submit {
  display: flex;
  align-items: center;
}

.Submit span {
  margin-inline: 20px;
}

@media all and (max-width: 1300px) {
  .Form {
    width: 70%;
  }
}

@media all and (max-width: 720px) {
  .Submit {
    flex-direction: column;
  }
  .Submit span {
    margin-block: 20px;
  }
}
