.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignIn svg {
  width: 70%;
  max-width: 540px;
  min-width: 240px;
}

.Form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.Form {
  background-color: #f9f3ee;
  width: min(calc(100% - 120px), 70%);
  margin: auto;
  padding: 50px;
  align-items: center;
  margin-block: 50px;
  max-width: 540px;
}
.Form,
.Form label {
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.Form input[type='file'] {
  display: none;
}

.Form label {
  width: 100%;
}
.Form label p {
  margin-bottom: 15px;
}

.Form input {
  height: 64px;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  border-radius: 3px;
  border: 2px solid #F2E3CE;
  padding-left: 10px;
}
.Submit {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media all and (max-width: 720px) {
  .Submit {
    flex-direction: column;
  }
}
