.Header {
  font-family: 'Libre Baskerville', serif;
  background-color: #ffffff;
  min-height: 90px;
  display: flex;
  align-items: center;
  padding-inline: 60px;
}

.Header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header p {
  font-size: 20px;
}

.Header ul {
  display: flex;
  gap: min(20px, 3vw);
}

.Header ul li {
  list-style-type: none;
}

.Header ul li a {
  text-decoration: none;
  color: black;
}

.Header a.activeLink {
  font-weight: bold;
}

@media all and (max-width: 960px) {
  .Header div {
    flex-direction: column;
    align-items: center;
  }

  .Header img {
    margin-top: 20px;
  }

  .Header ul li {
    padding-block: 20px;
    white-space: nowrap;
  }
}
