.Header {
  font-family: "Libre Baskerville", serif;
  background-color: #ffffff;
  min-height: 90px;
  display: flex;
  align-items: center;
  padding-inline: 60px;
}

.Header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header p {
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: black;
  background-color: transparent;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  transition: all 0s ease;
}

.link:hover {
  background-color: transparent;
  color: #002f34;
}

@media all and (max-width: 960px) {
  .Header div {
    flex-direction: column;
    align-items: center;
  }

  .Header img {
    margin-top: 20px;
  }

  .Header ul li {
    padding-block: 20px;
    white-space: nowrap;
  }
}
